@model IEnumerable<TreinoDoRamon.Models.Treino>

@{
    ViewData["Title"] = "Treinos";
}

<h1>Treinos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do treino
            </th>
            <th>
                Qtd. de vezes realizado
            </th>
            <th>
                Tempo max. de treino (min)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempomax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreinoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreinoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreinoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
