@model IEnumerable<TreinoDoRamon.Models.Equipamento>

@{
    ViewData["Title"] = "Equipamentos";
}

<h1>Equipamentos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Equipamento
            </th>
            <th>
                Trabalha
            </th>
            <th>
                Link para Imagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipamentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipamentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipamentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
